
<main class="container-fluid">
    <section class="row">
        <h1 class="col-12 text-center text-uppercase">
            Login de usuario
        </h1>
    </section>

    <section class="container">
        <section class="row justify-content-center">
            <article class="col-12 col-md-6 col-lg-4 text-center mt-2">
                <form action="/api/session/login" class="p-3" method="post">
                    <input type="email" name="email" id="email" class="form-control mt-1" placeholder="email" required />
                    <input type="password" name="password" id="password" class="form-control mt-1" placeholder="contraseña" required />
                    <button type="submit" class="btn btn-primary w-100 mt-3 login">Login</button>
                </form>
            </article>
        </section>

        <section class="row justify-content-center">
            <article class="col-12 col-md-6 col-lg-4 text-center mt-2">
                <form action="/api/views/register" class="p-3" method="get">
                    <button type="submit" class="btn btn-secondary w-100 registro">Registrarse</button>
                </form>
            </article>
        </section>

        <section class="row justify-content-center">
            <article class="col-12 col-md-6 col-lg-4 text-center mt-2">
                <form action="/api/views/recover" class="p-3" method="get">
                    <button type="submit" class="btn btn-warning w-100 registro">Restaurar contraseña</button>
                </form>
            </article>
        </section>

        <section class="row justify-content-center">
            <article class="col-12 text-center">
                <a href="/api/session/github">Entrar con GitHub</a>
            </article>
        </section>
    </section>

    <section>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
    </section>
</main>
