<main class="container-fluid">

<section class="row">
<h1 class="col-12 text-center text-uppercase">
    Login de usuario
</h1>
</section>

<section class="container">
    <section class="row justify-content-center align-items-center">
        <article class="col-md-5 mt-4 text-center">
            <form action="/api/session/login" method="post">
                <input type="email" name="email" id="email" placeholder="email" required />
                <input type="password" name="password" id="password" placeholder="contraseña" required />
                <button type="submit" class="btn col-8 mt-1 login">login</button>     
            </form>
        </article>
    </section>

    <section class="row justify-content-center align-items-center">
        <form class="col-12 mt-4 text-center" action="/api/views/register" method="get">
                <button type="submit" class="btn registro">registrarse</button>   
        </form>
    </section>


</section>
   

 <section class="row justify-content-center align-items-center">
        <form class="col-12 mt-4 text-center" action="/api/views/recover" method="get">
                <button type="submit" class="btn registro">Restaurar contraseña</button>   
        </form>
    </section>

           
 <section class="row">
    <article class="col text-center">
            <a href="/api/session/github">Entrar con github</a>
    </article>
 </section>

    <section>
        {{#if message}}
            <p>{{message}}</p>
        {{/if}}
    </section>

</main>