<div class="container-fluid">
    <section class="row">
        <h1 class="col-12">
            Registrar Producto        
        </h1>
    </section>

<section class="row">
    <article class="col-10">
    <form id="form-products">
        <div>
        <label>Título:
            <input type="text" id="title">
        </label>
        <label>Descripción:
            <input type="text" id="description">
        </label>
        <label>Precio:
            <input type="text" id="price">
        </label>
        </div>

        <div>
        <label>Status:
            <input type="text" id="status">
        </label>
        <label>Stock:
            <input type="number" id="stock">
        </label>
        </div>

        <div>
          <label>Categoria:
            <input type="text" id="category">
        </label>
        </div>

        <input type="submit" value="Registrar">
    </form>  
    </article>
</section> 
</div>

<hr>


<div>
     <h1>Eliminar Producto</h1>
    <form id="form-productsDelete">
        <label for="input">Producto a eliminar: </label>
        <input type="text" id="input" placeholder="Ingrese el número de Id.">
        <input type="submit" value="Eliminar">
    </form>   
</div>

<hr>

<div>
    <h1>Todos los productos</h1>
   <table border="1">
    <caption>Productos registrados</caption>
    <thead>
        <tr>
            <th> Id. </th>
            <th> Título </th>
            <th> Descripción </th>
            <th> Precio </th>
            <th> Stock </th>
        </tr>
    </thead>
    
    <tbody id="listaDeProducts">
    </tbody>
</table>
</div>
