
<div>
    <form id="form-message">
        <label for="input">Escribe tu mensaje...</label>
        <input type="text" id="input">
        <input type="submit" value="Enviar">
    </form>   
</div>

 <div id="message"></div>
