<div>
    <h1>Recuperaci칩n de contrase침a</h1>

    <div>
        <form action="/api/session/recover-psw" method="post">
            <label for="email">Correo</label><br />
            <input type="email" name="email" id="email" placeholder="ingrese su correo" required/>
            <br />
            <label for="password">Nueva contrase침a</label><br />
            <input type="password" name="new_password" id="new_password" placeholder="ingrese su nueva contrase침a" required/>
            <br />

            <button type="submit>">Actualizar</button>
        </form>
    </div>

</div>