<div>
    <h2>Chat global</h2>
    <form id="form-msg">
        <label>
            <input type="text" id="input">
            <input type="submit" value="Enviar mensaje">
        </label>
    </form>

    <div id="all-mensajes"></div>
</div>



<!--
<div>
    <label>Escribe tu mensaje...
        <input type="text" id="txtMensaje">
    </label>

    <p id="mensaje"></p>
</div>

-->