
<div>
    <h1>Perfil del usuario</h1>

    <p>{{this.first_name}}</p>
    <p>{{this.last_name}}</p>
    <p>{{this.email}}</p>
    <p>{{this.age}}</p>

 <div>
        <form action="/api/session/logout" method="get">
            <button type="submit">Salir</button>
        </form>

    </div>

</div>